/**
 * Sky theme for reveal.js.
 *
 * Copyright (C) 2015 Marcio Bigolin
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------
 


// Include theme-specific fonts
//@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import "fonts.css";

// Override theme settings (see ../template/settings.scss)
$mainFont: Ubuntu, sans-serif;
$mainColor: #333;
$headingFont: 'Quicksand', sans-serif;
$headingColor: #333;
$headingLetterSpacing: -0.08em;
$headingTextShadow: none;
$backgroundColor: #f7fbfc;
$linkColor: #3b759e;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: #134674;

// Fix links so they are not cut off
.reveal a {
	line-height: 1.3em;
}

.red{
	color: #f00;
	font-weight: bold;
}



// Background generator
@mixin bodyBackground() {
	@include radial-gradient( #add9e4, #f7fbfc );
}



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
